@model List<Proje.Models.ContactMessage>

<h1 class="my-5 page-title px-4">Gelen Mesajlar</h1>
<table class=" mb-5 contact-table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>E-posta</th>
            <th>Telefon</th>
            <th>Mesaj</th>
            <th>Silme Butonu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="pb-5">
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Message</td>
                <td>
                    <form asp-action="DeleteContact" asp-controller="Home" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Bu mesaji silmek istediğinize emin misiniz?');">Sil <span class="material-symbols-outlined fs-6" style="position: relative; top: 3px;">delete</span></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-center">
    <a href="/Home/Contact" class="btn btn-secondary mb-5 msgbtn">İletşim Sayfasına Dön <span class="material-symbols-outlined fs-5" style="position: relative; top: 4px;">undo</span></a>
</div>